:root {
    --colot-today: 96, 165, 250;
    --colot-scheduled: 239, 68, 68;
    --colot-all: 125, 138, 165;
    --colot-flagged: 245, 158, 11;
}


body {
    min-height: 100vh;
    background-image: linear-gradient(
            to right,
            rgb(248, 113, 113),
            rgb(220, 123, 123)
    );

    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    width: 55rem;
    height: 36rem;

    border: 2px solid black;
    background: rgb(31, 41, 55);
    border-radius: 1rem;

    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 2fr;
}

main,
aside {
    padding: 1.25rem;
}