:root {
    --color-today: 96, 165, 250;
    --color-scheduled: 239, 68, 68;
    --color-all: 125, 138, 165;
    --color-flagged: 245, 158, 11;
    --color-contentMain: 31, 41, 55;
}


body {
    min-height: 100vh;
    background-image: linear-gradient(
            to right,
            rgb(248, 113, 113),
            rgb(220, 123, 123)
    );

    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    width: 55rem;
    height: 36rem;

    border: 2px solid black;
    background: rgb(var(--color-contentMain));
    border-radius: 1rem;

    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 2fr;
}

main,
aside {
    padding: 1.25rem;

}

@media (max-width: 580px) {
    .app {
        grid-template-columns: 1fr; /* Jedno stĺpcové rozloženie */
    }

    main,
    aside {
        transition: opacity 0.5s ease; /* Tranzícia opacity s trvaním 0.5 sekundy */
        opacity: 1; /* Zobrazenie na začiatku */
    }

    .hidden {
        opacity: 0; /* Skrytie s animáciou */
        pointer-events: none; /* Deaktivácia interakcie, ak je element skrytý */
    }


    main {
        display: none; /* Skryť hlavný obsah na menších obrazovkách */
        /*display: block; !* Skryť hlavný obsah na menších obrazovkách *!*/
    }

    aside {
        display: block; /* Zobraziť bočný panel */
        /*display: none; !* Zobraziť bočný panel *!*/
    }
}
@media (min-width: 580px) {

    main {
        display: block; /* Skryť hlavný obsah na menších obrazovkách */
        /*display: block; !* Skryť hlavný obsah na menších obrazovkách *!*/
    }

    aside {
        display: block; /* Zobraziť bočný panel */
        /*display: none; !* Zobraziť bočný panel *!*/
    }
}